<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/stories.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"
      type='text/css'>
    <title>home</title>
</head>

<body>
  <%- include("partials/loader.ejs") %>

    <header class="header mf1-position-relative js-header ">
      <div class="header__container mf1-container mf1-max-width-lg">
        <div class="header__logo">
          <a class="header__logo" href="/">
            DevPath
          </a>
        </div>

        <div class="mf1-btn mf1-btn--subtle header__trigger js-header__trigger" aria-label="Toggle menu"
          aria-expanded="false" aria-controls="header-nav">
          <i class="header__trigger-icon" aria-hidden="true"></i>
          <span>Menu</span>
        </div>


        <nav class="header__nav js-header__nav" id="header-nav" role="navigation" aria-label="Main">

          <div class="header__nav-inner">

            <ul class="header__list">
              <li class="header__item"><a href="/" class="header__link">Home</a></li>
              <li class="header__item"><a href="modules" class="header__link">Paths</a></li>
              <li class="header__item"><a href="quests" class="header__link">Quests</a></li>
              <li class="header__item"><a href="quiz-start" class="header__link">Quiz</a></li>
              <li class="header__item"><a href="about-us" class="header__link">About us</a></li>
              <li class="header__item"><a href="contact-us" class="header__link">Contact us</a></li>
              <li class="header__item header__item--divider" aria-hidden="true"></li>
              <% if(user!==undefined){%>

                <div class="user-tag" onclick="display()">

                  <i class="fa fa-user icon "></i>
                  <span class="name-of-user"><%-user%></span>
                  <div class="log-out-card" id="logout-card">
                    <li class="header__item out-btn"><a href="logout"
                        class="header__nav-btn mf1-btn mf1-btn--primary">Log out</a></li>
                  </div>
                  <div class="log-out-btn-mob " id="logout-card">
                    <li class="header__item out-btn"><a href="logout"
                        class="header__nav-btn mf1-btn mf1-btn--primary">Log out</a></li>
                  </div>

                </div>


                <%}%>
                  <%if(user===undefined){%>
                    <li class="header__item"><a href="register" class="header__nav-btn mf1-btn mf1-btn--primary">Log
                        in</a></li>

                    <%}%>

            </ul>
          </div>
        </nav>

      </div>
    </header>
    <div class="log-out-card" id="user-tag">
      <div class="log-out-btn">
        <li class="header__item out-btn"><a href="logout" class="header__nav-btn mf1-btn mf1-btn--primary">Log out</a>
        </li>
      </div>
    </div>
    <div class="intro">
      <div class="intro1">
        <% if(datas!==undefined) {%>
          <span class="first_intro"> Checkout the our content
            <br>and learn more about
            <br><b>
              <%= datas %>
            </b> </span>

          <br>
          <a href="modules"><button class="quiz_button mf1-btn btn-style">Paths</button></a>
          <% } else{%>
            <span class="first_intro"> Take the quiz <strong>NOW!</strong><br>and know the path <br>that is best for you
              <%= datas %> </span>
            <br>
            <a href="quiz-start"><button class="quiz_button mf1-btn btn-style">Start!</button></a>
            <%}%>

      </div>
      <img src="Resources/mainpage2.png">



    </div>

    <div class="introduction">
      Welcome to DevPath, your compass in the vast landscape of Computer Science and Software Engineering!
      Navigating the myriad career paths within these dynamic fields can be overwhelming, but fear not - DevPath is here
      to guide you on your journey.
    </div>




    <div class="stories_main">
      <span>
        <span class="story_intro">
          Check out some successfull stories <br>
          and learn from them
        </span>

        <br>
        <div class="stories">

          <ol class="stories__list">
            <li class="stories__story">
              <a href="#0" class="stories__img-wrapper">
                <figure>
                  <img src="/Resources/cyber1.png" alt="Image description">
                </figure>
              </a>

              <div class="stories__text sz3-text-component sz3-line-height-md sz3-text-gap-2xs">
                <h4 class="stories__headline"><a href="/stories" style="margin: 20px 20px;">The Code Crusader: From
                    Hacking to Securing</a></h4>

              </div>
            </li>

          </ol>
        </div>
      </span>

      <img src="Resources/mainpage3-removebg-preview.png">

    </div>
    <footer class="main-footer me6-position-relative me6-z-index-1 me6-padding-top-xl">
      <div class="me6-container me6-max-width-lg">
        <div class="me6-grid me6-gap-y-lg me6-gap-lg@lg">
          <div class="me6-col-3@lg me6-order-2@lg me6-text-right@lg">
            <a class="main-footer__logo" href="">
              DevPath
            </a>
          </div>

          <nav class="me6-col-9@lg me6-order-1@lg">
            <ul class="me6-grid me6-gap-y-lg me6-gap-lg@xs">
              <li class="me6-col-6@xs me6-col-3@md">
                <h4 class="me6-margin-bottom-sm me6-text-base@md "><a class="footer_link" href="about-us">About Us</a>
                </h4>

              </li>

              <li class="me6-col-6@xs me6-col-3@md">
                <h4 class="me6-margin-bottom-sm me6-text-base@md"><a class="footer_link" href="contact-us">Contact
                    Us</a></h4>

              </li>
            </ul>
          </nav>
        </div>

        <div
          class="me6-flex me6-flex-column me6-border-top me6-padding-y-xs me6-margin-top-lg me6-flex-row@md me6-justify-between@md me6-items-center@md">
          <div class="me6-margin-bottom-sm me6-margin-bottom-0@md">
            <div class="me6-text-sm me6-text-xs@md me6-color-contrast-medium me6-flex me6-flex-wrap me6-gap-xs">
              <span>&copy; 2023 DevPath</span>
            </div>
          </div>


        </div>
      </div>
    </footer>







</body>
<script src="js/index.js"></script>
<script src="/js/screen-saver.js"></script>
<script src="/js/signUp.js"></script>
</html>