<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
        <title>quiz</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css\quiz.css">

</head>

<body>

    <div class="progress-container">
        <div class="progress-bar" id="progressBar"></div>
    </div>


    <div class="quiz-container">
        <% for(q of listOfQuest){ %>
            <div class="question" data-question=<%=`question${q.Qno}`%> > <%= q.Qno%>. <%=q.question%>
            </div>
            <div class="options" data-options=<%=`options${q.Qno}`%>>
                <div class="option" onclick="selectOption(this)" name="s">A. <%= q.a %>
                </div>
                <div class="option" onclick="selectOption(this)">B. <%= q.b %>
                </div>
                <div class="option" onclick="selectOption(this)">C. <%= q.c %>
                </div>
                <div class="option" onclick="selectOption(this)" id="last-option">D. <%= q.d %>
                </div>
            </div>
            <% } %>
                <% if(q.Qno===19) {%>
                    <div class="quiz-btn">

                        <a id="subt"><button class="mf1-btn sub-btn" onclick="calc()">Submit</button></a>
                    </div>

                    <% } %>



    </div>
    <div class="top-cont"><a href="#" class="top">Back to Top &#8593;</a></div>


    <script src="js/quiz.js"></script>

</body>


</html>